.contentHeader
  height 40px
  line-height 40px
  color #aaa9a2
  text-transform uppercase
.contentFooter
  position fixed
  left 0
  right 0
  bottom 0
  height 40px
  line-height 40px
  background #1a1c1d
  color #fff
  .tag-tip
    position absolute
    left 10px
  .tag-group
    margin-left 20px
    .col-md-3
      padding-right 0
  .tag-input
    margin-top 3px
    background #353B3E
    color #fff
    border none
  .blog-submit
    position absolute
    right 20px
    margin-top 3px

.articleMarkdown
  font-size 18px
.articlePreview
  height 514px
  padding 10px
  border 1px solid #ccc
  border-radius 4px
  overflow-y auto
  font-size 18px
  img
    width 253px
    height 337.5px
